<header>
  <div class="header_inner">
    <div class="header_logo">
      <p>testCommit</p>
      <img src="/src/images/common/dummy_logo.png" alt="logo" />
    </div>
    <h1>testest</h1>
  </div>
</header>
