@use 'common/header' as *;
@use 'common/footer' as *;

body {
  background-color: #fefefe;
  color: #fff;
  p {
    position: absolute;
    top: 10px;
    right: 30px;
    bottom: 0;
    left: 0;
    color: blue;
    font-size: 20px;
    font-weight: bold;
  }
}
